@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

:root{
	--first: #2b2c30;
	--second: #35313b;
	--third: #453745;
	--fourth: #613c4c;
	--fifth: #ff1457;
}
*{
	margin: 0px;
	padding: 0px;

	font-family: 'Roboto Mono', monospace;
}
body, html{
	width: 100%;
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
